HHRU_ENV=local
HHRU_LOG_LEVEL=INFO

HHRU_DB_HOST=localhost
HHRU_DB_PORT=5432
HHRU_DB_NAME=hhru_platform
HHRU_DB_USER=hhru
HHRU_DB_PASSWORD=hhru

HHRU_REDIS_HOST=localhost
HHRU_REDIS_PORT=6379
HHRU_REDIS_DB=0
